:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --fw-normal: 500;
  --fw-bold: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  padding-bottom: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.8rem;
  background-color: var(--light-grayish-blue);
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  position: fixed;
  bottom: 0.4rem;
  width: 100%;
  color: #5f5f5f;
}

.attribution a {
  color: hsl(228, 28%, 43%);
}

.card {
  border-radius: 10px;
  overflow: visible;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  object-position: left;
}

.card__content {
  padding-inline: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 0;
  display: flex;
  flex-direction: column;
}

.card__title {
  color: var(--very-dark-grayish-blue);
  font-weight: var(--fw-bold);
  font-size: 1rem;
}

.card__description {
  margin-block: 0.75rem;
  font-size: 0.8rem;
  color: var(--desaturated-dark-blue);
  flex-grow: 1;
}

.card__author__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  margin-bottom: 0;
  margin-top: auto;
}

.card--sharing .card__author__container {
  display: none;
}

.author {
  display: flex;
  gap: .5rem;
}

.author__image img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.author__name {
  font-weight: var(--fw-bold);
  font-size: 0.8rem;
  color: var(--very-dark-grayish-blue);
}

.author__pushished_at {
  font-size: 0.8rem;
  color: var(--grayish-blue);
}

.share_icon  {
  background-color: var(--light-grayish-blue);
  padding: .5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share_icon.inverse,
.share_icon:not(.inverse):hover {
  background-color: var(--desaturated-dark-blue);
  color: white;
  padding: .5rem;
  border-radius: 50%;
}

.share_icon.inverse:hover {
  background-color: var(--light-grayish-blue);
}

.share_icon.inverse:hover > img {
  content: url('./images/icon-share.svg');
}

.share_icon:not(.inverse):hover > img {
  content: url('./images/icon-share-light.svg')
}

.card__share__actions {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  padding: 1rem 2rem;
  min-height: 4rem;
}

.card--sharing .card__share__actions {
  display: flex;
}

.card__share__actions > .card__share__icons {
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: var(--grayish-blue);
  letter-spacing: .25rem;
  font-weight: var(--fw-normal);
  align-items: center;
}

@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: row;
    max-width: 50vw;
    position: relative;
  }

  .card__title {
    font-size: 1.35rem;
  }

  .card__image {
    width: 20vw;
    height: 20vw;
  }

  .card--sharing .card__author__container {
    display: flex;
  }

  .card--sharing .card__share__actions {
    position: fixed;
    top: var(--share_icon_top);
    left: var(--share_icon_left);
    padding: 1.25rem 3rem;
    min-height: auto;
    border-radius: .5rem;
    width: 16rem;
    font-size: .75rem;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .card--sharing .card__share__actions::after {
    content: '';
    background-color: inherit;
    width: 1rem;
    aspect-ratio: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) rotateZ(45deg);

  }

  .card--sharing .card__share__icons {
    width: 100%;
  }

  .card--sharing .card__share__actions > .share_icon__container {
    display: none;
  }
}
